# Environment
.env
.env.local
.env.*.local

# Dependencies
node_modules/

# Build outputs
dist/
.next/
out/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Terraform
infra/terraform/.terraform/
infra/terraform/*.tfstate
infra/terraform/*.tfstate.backup
infra/terraform/*.tfvars

# Docker
docker-compose.override.yml

# Lighthose results ci
.lighthouseci/

# Playwright test results
playwright-report/

# Tests results
test-results/

# Coverage reports
coverage/

TODO.md
